@model Model.CambiarPassword
@{
    ViewBag.Title = "CambiarPassword";
}


<style>
    #frm-cambiarPassword {
        background-color: rgba(255,255,255,.75);
        padding: 0;
        margin: 50px auto;
        float: none;
        max-width: 350px;
    }

    #frm-cambiarPassword .well {
        background-color: rgba(93, 171, 94,.95);
        color: #fff;
        text-align: center;
    }

    .well {
        background-color: rgba(255,255,255,.75);
        margin-top: 0;
        border-radius: 0;
        margin-bottom: 0;
    }

    button .input-group-addon {
        background-color: #5dab5e;
        color: #fff;
    }

    button {
        position: relative;
    }

    button:hover .cambiarPassword-submit {
        background-color: rgba(0,0,0,.2);
    }

    .cambiarPassword-submit {
        color: #fff;
        display: block;
        position: absolute;
        text-align: center;
        width: 34px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.5;
        border: none;
        background-color: transparent;
        right: 0;
        top: 0;
        border-left: 1px solid rgba(255,255,255,.5);
    }

    .error {
        color: #ff5353;
    }
</style>

@using (Html.BeginForm("CambiarPassword", "Usuario", FormMethod.Post, new {  @id = "frm-cambiarPassword" }))
{
    <h2 class="well">Cambiar Password</h2>
    
    <div class="col-sm-12">

        <div class="form-group">
                @if (ViewBag.userpass > 0)
                {
                    <h2 class="text-success">@ViewBag.Mensaje</h2>
                }
                else
                {
                    <h2 class="error">@ViewBag.Mensaje</h2>
                }
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword)
            <div class='input-group'>
                <span class="input-group-addon">
                    <span class="fa fa-key"></span>
                </span>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Password Actual" })
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword)
            <div class='input-group'>
                <span class="input-group-addon">
                    <span class="fa fa-key"></span>
                </span>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Nuevo Password" })
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "error" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword)
            <div class='input-group'>
                <span class="input-group-addon">
                    <span class="fa fa-key"></span>
                </span>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirmar nuevo Password" })
            </div>
            <div class="form-group">
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })
            </div>
        </div>

        <div class="form-group">
            <span class="error">@ViewBag.Message</span>
        </div>
        <div class="form-group" style="position:relative;">
            <button type="submit" class="form-control btn btn-success">
                Cambiar Password
                <span class="cambiarPassword-submit">
                    <span class="fa fa-check"></span>
                </span>
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
}