@{
    ViewBag.Title = "Perfil";
}

<div id="perfil">
    <div class="col-sm-4">
        <aside class="profile-nav col-sm-12">
            <section class="panel">
                <div class="user-heading round">
                    <a href="~/Usuario/Perfil">
                        <img src="~/Assets/img/user.png" alt="" />
                    </a>
                    <h1>@VeterinariaMVC.Controllers.UsuarioController.Get().Nombre @VeterinariaMVC.Controllers.UsuarioController.Get().Apellido</h1>
                    <p>@VeterinariaMVC.Controllers.UsuarioController.Get().NombreUsuario</p>
                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="~/Usuario/Perfil"> <i class="fa fa-user"></i> Perfil</a></li>
                    <li><a href="~/Usuario/Crud/@VeterinariaMVC.Controllers.UsuarioController.Get().UsuarioId"><i class="fa fa-edit"></i> Editar perfil</a></li>
                    <li><a href="~/Usuario/cambiarPassword"> <i class="fa fa-key"></i> Cambiar Clave</a></li>
                </ul>

            </section>
        </aside>
    </div>
    <div class="col-sm-8">
        <aside class="profile-info col-sm-12">
            <section class="panel">
                <div class="bio-graph-heading">
                    <h4 class="text-uppercase">
                        @VeterinariaMVC.Controllers.UsuarioController.Get().Nombre
                        @VeterinariaMVC.Controllers.UsuarioController.Get().Apellido
                    </h4>
                </div>
                <div class="panel-body bio-graph-info">
                    <h1>Biografia</h1>
                    <div class="row">
                        <div class="bio-row">
                            <p><span>Nombre </span>: @VeterinariaMVC.Controllers.UsuarioController.Get().Nombre</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Apellido </span>: @VeterinariaMVC.Controllers.UsuarioController.Get().Apellido</p>
                        </div>
                        <div class="bio-row">
                            <p><span>User </span>: @VeterinariaMVC.Controllers.UsuarioController.Get().NombreUsuario</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Ocupacion </span>: @VeterinariaMVC.Controllers.UsuarioController.Get().Rol.Descripcion</p>
                        </div>
                        <div class="bio-row">
                            <p><span>DNI </span>: @VeterinariaMVC.Controllers.UsuarioController.Get().DNI</p>
                        </div>
                        <div class="bio-row">
                            <p><span>Telefono </span>: @VeterinariaMVC.Controllers.UsuarioController.Get().Telefono</p>
                        </div>
                    </div>
                </div>
            </section>
        </aside>
    </div>
</div>